@import "tailwindcss";

/* Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Internet Explorer / old Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}
